    /*  Style  */

*{
  margin:1;
  padding:1;
  max-width 800px;
}

hr.short {
  border: 1px solid green;
  max-width: 75%;
}

body {
  background-image: linear-gradient(to bottom left, blue, LightBlue); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h3 {
  font-family: arial; 
  text-align: center; 
  color: DarkBlue;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

    /*  Animation  */

/*@keyframes menuOpen {

}

@keyframes menuClose {

}*/

    /*  Objects  */

.sidebar {
  height: 100vh;
  max-width: 20%;
  background-repeat: repeat;
  object-fit: contain;
}

.menuBanner {
  max-width: 75%;
  height: 35px;
  text-align: center;
  margin: auto;
  color: #a2b00c;
  background-color: #176117; 
}

.projectBlock {
  float: left;
  max-width: 200;
  border: 2px outset DarkBlue;
  background-color: hsla(177, 80%, 70%, 0.5);
}

.aboutH3 {
  border: 2px ridge RoyalBlue;
  background-color: hsla(177, 80%, 70%, 0.5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  max-width: 75%;
}

.info {
  color: #e3fffe;
  margin: 10px 20px 5px; 
  font-size: 20px; 
  border: 2px ridge RoyalBlue; 
  max-width: 100%;
  background-color: hsla(177, 80%, 70%, 0.5);
}

.banner {
  padding: 1px 1px 2px;
  max-height:100%;
  max-width:100%;
}

.textBox {
  max-width: 100%;
  border:2px inset RoyalBlue;
  text-indent: 25px;
  padding: 3px;
  margin: 10px 20px 5px;
  font-family: helvetica;
  color: #e3fffe;
  background-color: hsla(177, 80%, 70%, 0.5);
}


    /*Responsive*/


@media only screen and (min-width: 1000px) {

.aboutH3 {
  max-width: 350px;
}

.banner {
  max-height:50%;
  max-width:50%;
  display: block;
  margin: auto;
}

.textBox {
  max-width: 500px;
  padding: 5px 10px;
  margin: auto;
  font-size: 20px;
}

.info {
  margin: auto; 
  font-size:12px;
  max-width:500px;
}

}
