    /*  Style  */

*{
  margin:1;
  padding:1;
  max-width: 800px;
}

hr.short {
  border: 1px solid #595959;
  max-width: 75%;
}

body {
  background-image: url("../images/techBg.png"); 
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: contain;
}

h3 {
  margin: auto;
  font-family: arial; 
  text-align: center; 
  color: #595959;
}

li:not(:last-child) {
    margin-bottom: 8px;
}

.hidden {
  display: none;
}

    /*  Animation  */

@keyframes menuOpen {
  from {width: 25%; height: 55px;}
  to {width: 45%; height: 120px;}
}

@keyframes menuClose {
  from {width: 45%; height: 120px;}
  to {width: 25%; height: 55px;}
}

.menuI {
  overflow: hidden;
  width:25%;
  height: 55px;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: -4px 3px 4px #000000;
  text-align: center;
  margin: auto;
  border: 4px ridge DarkBlue;
  color: #4df3ff;
  background-color: #333333;
}

.menuO { 
 overflow: hidden;
 animation-name: menuOpen;
 animation-duration: 1s;
 animation-fill-mode: forward;
 width: 45%;
 height: 120px;
}

.menuC {
   animation-name: menuClose;
   animation-duration: 1s;
   animation-fill-mode: forward;
   overflow: hidden;
   width: 25%;
   height: 55px;
}

.menuBanner {
  text-align: center;
  margin: auto;
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: -4px 3px 4px #000000;
  font-size: 20 px;
  border: 4px ridge DarkBlue;
  color: #4df3ff;
  background-color: #000000;
}

    /*  Objects  */


#projectContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 8px;
}

#projectContainer div{
  margin: 10px 5px;
  padding: 4px;
}

#navMenu {
  margin-top: 5px;
}

#navMenu a {
  color: #4df3ff;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}

#navMenu a:hover {
  border: 2px outset #3156fa;
  background-color: #3156fa63;
  color:rgb(14, 0, 92);
}

#navMenu a.active {
  border: 2px outset #3156fa;
  background-color: #3156fa63;
  color:rgb(14, 0, 92);
}


#menuCover {
  margin-top: 5px;
}

.container {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 15px 0px;
  background: linear-gradient(navy, rgb(0, 132, 255));
  border: 2px groove DarkBlue;
  border-radius: 5%;
  /* width: fit-content; */
  max-width: 85%;
  height: fit-content;

}

.projectBlock {
  max-width: 200;
  border: 2px outset DarkBlue;
  background-color: hsla(184, 100%, 65%, 0.9);
}

.aboutH3 {
  border: 2px ridge RoyalBlue;
  background-color: hsla(184, 55%, 50%, 0.9);
  color: rgb(0, 0, 100);
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  max-width: 75%;
}

.info {
  color: #e3fffe;
  margin: 10px 20px 10px; 
  font-size: 20px; 
  border: 2px ridge RoyalBlue; 
  max-width: 100%;
  word-wrap: break-word;
  background-color: hsla(204, 55%, 50%, 0.9);
}

.banner {
  padding: 1px 1px 2px;
  display: block;
  margin: auto;
  max-height: 100%;
  max-width: 100%;
}

.textBox {
  max-width: 100%;
  border:2px inset RoyalBlue;
  text-indent: 25px;
  padding: 3px;
  margin: 10px 20px 5px;
  font-family: helvetica;
  color: (0, 0, 100);
  background-color: hsla(204, 55%, 50%, 0.9);
}


    /*Responsive*/


@media only screen and (min-width: 1000px) {

* {
  max-width: 100%;
}

.container {
  max-width: 65%;
}

.aboutH3 {
  max-width: 350px;
}

.banner {
  max-height:50%;
  max-width:50%;

}

.textBox {
  max-width: 55%;
  padding: 5px 10px;
  margin: auto;
  font-size: 20px;
}

.info {
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto; 
  font-size:24px;
  max-width:700px;
}

@keyframes menuOpen {
  from {width: 25%; height: 40px;}
  to {width: 75%; height: 50px;}
}

@keyframes menuClose {
  from {width: 75%; height: 40px;}
  to {width: 25%; height: 40px;}
}

.menuBanner {
  font-size: 35px;
}

.menuI {
  font-size: 35px;
  height: 40px;
}

.menuO { 
 width: 75%;
 height: 50px;
}

.menuC {
   width: 25%;
   height: 40px;
}

#menuCover {
  margin-top: 0px;
}

}