    /*  Style  */

*{
margin:1;
padding:1;
}

/* p {
  font-family: helvetica;
  background-color: hsla(177, 80%, 70%, 0.5);
} */

body {
  background-image: linear-gradient(to bottom left, blue, LightBlue); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


    /*Responsive*/

/* @media only screen and () {

} */

.wrapper {
  width:100%;
}

.banner {
  max-height:100%;
  max-width:100%;
}

.textBox {
  border:2px inset RoyalBlue;
  padding:5px; 
  text-indent: 25px;
  width:100%;
  padding: 1px 15px 15px;
  font-family: helvetica;
  background-color: hsla(177, 80%, 70%, 0.5);
}

/* .textBox p{
  padding: 1px 15px 15px;
  font-family: helvetica;
  background-color: hsla(177, 80%, 70%, 0.5);
} */

    /*  Objects  */


.topnav {
  overflow: hidden;
  background-color: #280999;
}

.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #391cba;
  color: black;
}

.topnav a.active {
  background-color: #1c70ba;
  color: white;
}
