    /*  Style  */

margin:0;
padding:0;

p {
  font-family: helvetica;
  background-color: hsla(177, 80%, 70%, 0.5);
}

body {
  background-image: linear-gradient(to bottom left, blue, LightBlue); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


    /*  Objects  */


.topnav {
  overflow: hidden;
  background-color: #280999;
}

.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #391cba;
  color: black;
}

.topnav a.active {
  background-color: #1c70ba;
  color: white;
}
