    /*  Style  */

*{
  margin:1;
  padding:1;
  max-width 800px;
}


body {
  background-image: linear-gradient(to bottom left, blue, LightBlue); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


    /*  Objects  */

.info {
  margin: 10px 20px 5px; 
  font-size:20px; 
  border:2px solid LightPurple; 
  max-width:100%;
}

.banner {
  padding: 2px 1px 2px
  max-height:100%;
  max-width:100%;
}

.textBox {
  max-width: 500px;
  border:2px inset RoyalBlue;
  text-indent: 25px;
  padding: 3px;
  margin: 3px;
  font-family: helvetica;
  color: #e3fffe;
  background-color: hsla(177, 80%, 70%, 0.5);
}

.topnav {
  overflow: hidden;
  background-color: #280999;
}

.topnav a {
  float: left;
  color: #ddd;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #391cba;
  color: black;
}

.topnav a.active {
  background-color: #1c70ba;
  color: white;
}


    /*Responsive*/


@media only screen and (min-width: 1000px) {

.textBox {
  max-width: 500px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 20px;
}

.info {
  margin: 10px 0px 5px; 
  font-size:12px;
  max-width:200px;
}

}